* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

body {
  background-color: #f5f5f5; }
.my_header,.my_footer{
  width:100%;
}
@media screen and (min-width: 992px) {
  .my_header{height:7rem;}
  .my_footer{height:23rem;}
}@media screen and (max-width: 991px) {
  .my_header{height:11rem;}
  .my_footer{height:28rem;}
}
.my_bg_color {
  background-color: #001232; }