.top_size{
    margin-top:4px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    font-size: 72px;
    line-height: 72px;
    /*border-bottom:7px solid rgb(22, 23, 26);*/
    border-bottom: 8px solid #000;
    padding-bottom: 6px;
    opacity: 1;
    text-align: center;
}
.top_2_size{

    margin-top: 3px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    font-size: 36px;
    opacity: 1;
    text-align: center;
}
.m{
    font-size:20px;

}

